.DS_Store
**/.venv/**
*.env
**/google-services.json

# Android/Gradle
**/.gradle/
**/.cxx/
**/local.properties
**/captures/
**/build/

# Kotlin compiler logs
**/.kotlin/errors/*.log

# Gradle wrapper
**/gradle/wrapper/gradle-wrapper.jar
**/gradle/wrapper/gradle-wrapper.properties

# Node projects
**/node_modules/
**/dist/
chatgpt-android
chatgpt-android
athena-DRF/athena_drf/athena-5b322-firebase-adminsdk-fbsvc-423b63aba6.json
*.pyc
*.egg-info/